services:
  receiver:
    image: __RECEIVER_IMAGE__
    privileged: true
    network_mode: host
    environment:
      - RECEIVER_LAYOUT=en
      - RECEIVER_CAPSLOCK_PATH=/run/linuxkey/capslock
    devices:
      - /dev/hidg0:/dev/hidg0
    volumes:
      - /run/linuxkey:/run/linuxkey
    command: ["__PORT__"]
    restart: unless-stopped

  sender:
    image: __SENDER_IMAGE__
    network_mode: host
    depends_on:
      - receiver
    restart: unless-stopped
    user: "1000:1000"
    environment:
      - SENDER_TARGET_IP=127.0.0.1
      - SENDER_TARGET_PORT=__PORT__
      - SENDER_WEB_PORT=8080
      - SENDER_USB_STATE_PATH=/sys/class/udc/3f980000.usb/state
      - SENDER_CAPSLOCK_PATH=/run/linuxkey/capslock
      - SENDER_LAYOUT_TOKEN=true
__HTTPS_ENV_BLOCK__
    volumes:
      - /run/linuxkey:/run/linuxkey:ro
__HTTPS_VOLUME_BLOCK__
